.disk {
  margin: 20px 65px 0 65px;
}

.btns {
  display: flex;

  .create {
    margin-left: 10px;
  }

  .upload {
    margin-left: 10px;

    .label {
      cursor: pointer;
    }
    .input {
      display: none;
    }
  }

  button {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #005aab;
    background-color: white;
  }
}

.dropArea {
  width: 95%;
  height: calc(100vh - 50px - 40px);
  margin: 50px;
  border: 2px dashed #005aab;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}