.user {
  padding: 20px;
}

.wrapper-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 650px;
  border: 2px solid #005aab;
  border-radius: 5px;
  margin: 20px auto;
  padding: 0;
}

.btn {
  margin-right: 10px;
  height: 100%;
  padding: 80px 10px;
  border-left: 3px solid #005aab;
}

.delete {
  border: 2px solid #b60000;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;

  &:hover {
    background-color: red;
    color: white;
    cursor: pointer;
  }
}
