.navbar {
  background-color: white;
  border-bottom: 2px solid gray;
  padding: 10px;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 65px;

}

.logo {
  width: 60px;
  height: 30px;
}

.header {
  margin: 0 0 0 30px;
  color: #005aab;
}

.login,
.exit {
  margin-left: auto;
}

.exit {
  cursor: pointer;
}

.registration {
  margin-left: 15px;
}

a {
  text-decoration: none;
}