.navbar {
  background-color: white;
  border-bottom: 2px solid gray;
  padding: 10px;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 65px;

}

.logo {
  width: 60px;
  height: 30px;
}

.header {
  margin: 0 0 0 30px;
  color: #005aab;
}

.login,
.exit {
  margin-left: auto;
}

.exit {
  cursor: pointer;
}

.registration {
  margin-left: 15px;
}

a {
  text-decoration: none;
}

.search {
  width: 200px;
  height: 20px;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #005aab;
  margin-left: 30px;

  &:focus {
    border: 2px solid #008823;
    outline: none;
  }
  &:hover {
    border: 2px solid #008823;
  }

}