.file {
  position: relative;
  margin: 10px 0;
  border-bottom: 2px solid gray;
  display: grid;
  grid-template-columns: 1fr 4fr repeat(4, 1fr);
  align-items: center;

  &:hover .favorite-false {
    display: block;
  }

  .favorite-false {
    position: absolute;
    display: none;
    &:hover {
      cursor: pointer;
    }
  }

  .favorite-true {
    position: absolute;
    display: block;
  }

  .img {
    justify-self: center;
    cursor: pointer;
  }

  .name {
    cursor: pointer;
  }

  .date {
    grid-column-start: 5;
    justify-self: center;
  }

  .size {
    grid-column-start: 6;
    justify-self: center;
  }

  .download {
    grid-column-start: 5;
    justify-self: center;

    &:hover {
      border: 2px solid #008823;
    }
  }

  .delete {
    grid-column-start: 6;
    justify-self: center;

    &:hover {
      border: 2px solid #b60000;
    }
  }

  button {
    display: none;
    border: 2px solid #005aab;
    padding: 5px;
    border-radius: 5px;

  }

  &:hover .size{
    grid-column-start: 4;
  }

  &:hover .date{
    grid-column-start: 3;
  }

  &:hover button{
    display: block;
    cursor: pointer;
  }
  .property {
    position: absolute;
    top: 5px;
    left: 25%;

    &:hover {
      border: 2px solid #009300;
    }
  }

}

.file-plate {
  position: relative;
  width: 150px;
  height: 150px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover .favorite-false {
    display: block;
  }

  .favorite-false {
    position: absolute;
    bottom: 70px;
    right: 20px;

    display: none;
    &:hover {
      cursor: pointer;
    }
  }

  .favorite-true {
    position: absolute;
    display: block;
    bottom: 70px;
    right: 20px;
  }

  .img {
    height: 70px;
    width: 70px;
  }

  .btns {
    display: none;
    button {
      border: 2px solid #005aab;
      border-radius: 5px;
      padding: 3px;
      cursor: pointer;
    }
  }

  &:hover .btns {
    display: flex;
    justify-content: space-between;
  }

  .delete {
    margin-left: 3px;
    &:hover {
      border: 2px solid #b60000;
    }
  }

  .download {
    margin-right: 3px;
    &:hover {
      border: 2px solid #008823;
    }
  }

  .property:hover {
    border: 2px solid #009300;
  }
}

