.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal {
  position: relative;
  width: 450px;
  height: 250px;
  border: 3px solid #005aab;
  border-radius: 5px;
  padding: 20px;
  background-color: white;
}

.icon {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.paragraph {
  margin: 0 0 5px;
}

.pass {
  width: 250px;
  height: 70px;
}

.input-pass {
  border: 2px solid #005aab;
  border-radius: 5px;
  padding: 5px;
  &:hover {
    border: 2px solid #009300;
  }
}

.save-btn {
  margin-top: 10px;
  border: 2px solid #005aab;
  padding: 7px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    border: 2px solid #009300;
  }
}